body {
    background: #1f1f1f;
}

.profile-image {
    margin-top: 15px;
    width: 100px;
    border-radius: 50%;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(red, yellow) border-box;
    border: 5px solid transparent;
    box-shadow: 0 0 10px yellow;
}

.div-profile {
    text-align: center;
    background-color: #292828;
    width: auto;
    height: 300px;

    margin: auto;
    margin-top: 50px;
}

.name {
    margin: 0;
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Helvetica, sans-serif;
    text-shadow: 0 0 30px yellow;
    margin: 10px 0 10px 0;
}